.crossword.correct {
  rect {
    stroke: rgb(100, 200, 100) !important;
  }
  svg > rect {
    fill: rgb(100, 200, 100) !important;
  }
  text {
    fill: rgb(100, 200, 100) !important;
  }
}

.clue.correct {
  ::before {
    content: '\u2713'; /* a.k.a. checkmark: ✓ */
    display: inline-block;
    text-decoration: none;
    color: rgb(100, 200, 100);
    margin-right: 0.25em;
  }

  text-decoration: line-through;
  color: rgb(130, 130, 130);
}